body {
  color: white;
}

#hero {
  background: url("/assets/architecture-22039_1920.jpg") no-repeat;
  background-size: cover;
  background-position: 0 60%;
}

.hero-img {
  width: 400px;
  height: 300px;
  background: url("/assets/keys-1317391_640.jpg");
  mix-blend-mode: multiply;
  border: 0;
}

.feature-wrapper {
  color: black;
}

#join-container {
  background: url("/assets/staging-2816464_640.jpg") no-repeat;
  background-size: cover;

  h2 {
    letter-spacing: 4px;
    font-weight: bold;
    background-image: linear-gradient(to right, black, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h4 {
    color: gray;
  }
  .form-control {
    background: transparentize($color: #000000, $amount: 0.3);
    color: white;
    border: 3px solid #2f2f2f;
    padding: 10px;
    height: inherit;
  }
  .btn {
    padding: 12px;
    border: none;
    color: black;
    cursor: pointer;
  }
}

.navbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.3) !important;

  @media (max-width: 34em) {
    background: black !important;
  }

  .navbar-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-item {
    padding: 0 1rem;

    @media (max-width: 34em) {
      padding: 0;
    }

    .nav-link {
      @media (max-width: 34em) {
        font-weight: normal;
        color: #fff !important;
      }
    }
  }
}

.footer {
  background: transparentize($color: #000000, $amount: 0.6);
}

.social {
  background-color: white;
}
